{% extends 'home/home_base.html' %}
{% load static %}
{% load home_tags %}

{% block content %}

	<div id="slide">
		<img src="{% static 'images/slide.jpg' %}">
		<div class="slide_text">Welcome!! No time to wait, Let's go!</div>
	</div>

		<script>
		var index = -1;
		var tem = '';
		var arr_i = 0;
		{{ ten_obj|js_list|safe }}


		function nextFn () {
		  index++;
		  if (index > arr[arr_i].length - 1) {
		    index = 0;
		    tem = '';
		    arr_i += 1;
		    if (arr_i > arr.length - 1) { arr_i = 0 }
		  }

		  tem += arr[arr_i][index]
		  document.getElementById("slide").innerHTML ='<div id="slide"><img src="{% static "images/slide.jpg" %}"><div class="slide_text">' + tem + '</div></div>';
		}
		setInterval(nextFn, 100);
			</script>

{% endblock %}
