{% load static %}

<head>
	<title>Himel Bikon</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/home_base.css' %}">
</head>

<body>

	{% block content %} {% endblock %}

	<div class="front_block">
		<h2>MCQ Exam: HSC জীববিজ্ঞান ২য় পত্র</h2>

		<a href="{% url 'quiz:hsc_quiz' 'biology2' '05' %}"> অধ্যায় ০৫ </a>

	</div>



	<div id="footer">
		{% if request.user.is_authenticated %}

			<div>Logged in as {{request.user}}</div>
				<div>
					<form class="" action="{% url 'logoutuser' %}" method="POST">
						{% csrf_token %}
						<button type="submit">Logout</button>
					</form>
			 	</div>
			<div><a href="{% url 'quiz:hsc_add' %}">Add HSC Quiz</a></div>

			{% if user.is_superuser %}
			<div><a href="{% url 'dashboard' %}">Dashboard</a></div>
			{% endif %}

		{% else %}
			<div><a href="{% url 'loginuser' %}">Login</a></div>
			<div><a href="{% url 'signupuser' %}">Sign up</a></div>

		{% endif %}
	</div>


</body>
