{% extends 'home/home_base.html' %}
{% load static %}
{% load home_tags %}

{% block content %}

	<div id="slide">
		<img src="{% static 'images/slide.jpg' %}">
		<div class="slide_text">Welcome!! No time to wait, Let's go!</div>
	</div>

		<div class="front_block">
			<h2>MCQ Exam: HSC Math 1st Paper</h2>
			<a href="{% url 'quiz:hsc_quiz' 'math1' '01' %}">Chapter 01</a>
			<a href="{% url 'quiz:hsc_quiz' 'math1' '02' %}">Chapter 02</a>
			<a href="{% url 'quiz:hsc_quiz' 'math1' '03' %}">Chapter 03</a>
			<a href="{% url 'quiz:hsc_quiz' 'math1' '04' %}">Chapter 04</a>
			<a href="{% url 'quiz:hsc_quiz' 'math1' '05' %}">Chapter 05</a>
			<a href="{% url 'quiz:hsc_quiz' 'math1' '06' %}">Chapter 06</a>
			<a href="{% url 'quiz:hsc_quiz' 'math1' '07' %}">Chapter 07</a>
			<a href="{% url 'quiz:hsc_quiz' 'math1' '08' %}">Chapter 08</a>
			<a href="{% url 'quiz:hsc_quiz' 'math1' '09' %}">Chapter 09</a>
			<a href="{% url 'quiz:hsc_quiz' 'math1' '10' %}">Chapter 10</a>
		</div>


		<script>
			var index = -1;
			var tem = '';
			var arr_i = 0;
			{{ ten_obj|js_list|safe }}

			function nextFn () {
			  index++;
			  if (index > arr[arr_i].length - 1) {
			    index = 0;
			    tem = '';
			    arr_i += 1;
			    if (arr_i > arr.length - 1) { arr_i = 0 }
			  }

			  tem += arr[arr_i][index]
			  document.getElementById("slide").innerHTML ='<div id="slide"><img src="{% static "images/slide.jpg" %}"><div class="slide_text">' + tem + '</div></div>';
			}
			setInterval(nextFn, 10);
		</script>

{% endblock %}
