#slide img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	align-content: center;
	border-radius: 2%;
	position: relative;
	text-align: center;
}

.slide_text {
	top: 2%;
	left: 30%;
	transform: translate(-27%);
	font-size: 40px;
	font-weight: bold;
	text-shadow: 8px 8px 10px #000;
	-webkit-text-stroke: 2px black;
	position: absolute;
	color: rgb(30, 5, 255);
}

.front_block {
	list-style: none;
	display: block;
	width: 400px;
	height: 350px;
	margin: 10px 0px;
	padding: 1px 0px;
	text-align: center;
	border-radius: 10%;
	background: #eef0ff;
}

.front_block h2 {
	font-size: 40px;
}

.front_block a:link, a:visited {
  background-color: #09ce1e;
  color: white;
  padding: 8px 13px;
	font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
	border-radius: 10%;
	margin: 2px;
}

.front_block a:hover, a:active {
  background-color: rgb(124, 252, 134);
}

body {
	margin-left: 5%;
	margin-right: 5%;
}

html {
	background-color: #f0dbed;
}

/* This is MOBILE css area */
@media screen and (max-width: 1000px) {
	#slide img  {
		width: 100%;
		height: 500px;
		font-size: 50px;
	}

	.front_block {
		width: 100%;
		margin: 2% 0px;
		padding: 5px 0px;
		border-radius: 5%;
		height: 400;
	}

	.front_block h2 {
		font-size: 60px;
	}

	.front_block a:link, a:visited {
		font-size: 40px;
		margin: 5px;
	}

	body {
		margin: 1%;
		padding: 0px;
	}
}
