<!DOCTYPE html> <!-- This is quiz admin --> {% load static %} {% load quiz_tags %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> {{title}} </title>
    <link rel="stylesheet" href="{% static 'css/quiz/admin.css' %}">
  </head>
  <body>

    <h2>Total {{total}} quizs and Subjects are: {% for subject in all_subs %} <li>{{subject}}</li> {% endfor %}</h2>


    {% for tem in tem_list %}

    <table>
      {{tem|quizs_table|safe }}
    </table>

    {% endfor %}


  </body>
</html>
