<!DOCTYPE html> <!-- This is quiz admin -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    {% for quiz in quizs %}

    <div> {{quiz.question|safe}} </div>
    <div>a) {{quiz.a|safe}} </div>
    <div>b) {{quiz.b|safe}} </div>
    <div>c) {{quiz.c|safe}} </div>
    <div>d) {{quiz.d|safe}} </div>
    <div>Answer: {{quiz.answer|safe}} </div>
    <div>Explanation: {{quiz.explanation|safe}} </div> <br>

    {% endfor %}

    <form class="" method="POST">
      {% csrf_token %}

    </form> <br>

  </body>
</html>
