<h1>This is your quiz</h1>

<form method="POST" action="{% url 'quiz:quiz_result' %}">
  {% csrf_token %}
 

  {% for quiz in quizs %}

 <p>{{ quiz.question }}</p>


  <input type="radio" id="{{ quiz.a }}" name="{{ quiz.id }}" value="{{ quiz.a }}">
  <label for="{{ quiz.a }}">{{ quiz.a }}</label><br>

  <input type="radio" id="{{ quiz.b }}" name="{{ quiz.id }}" value="{{ quiz.b }}">
  <label for="{{ quiz.b }}">{{ quiz.b }}</label><br>

  <input type="radio" id="{{ quiz.c }}" name="{{ quiz.id }}" value="{{ quiz.c }}">
  <label for="{{ quiz.c }}">{{ quiz.c }}</label><br>

  <input type="radio" id="{{ quiz.d }}" name="{{ quiz.id }}" value="{{ quiz.d }}">
  <label for="{{ quiz.d }}">{{ quiz.d }}</label><br>

  
  {% endfor %}

  <input type="submit" value="Submit">

</form>

